.logo {
  height: 10vh;
}

.container {
  /* display: grid;
  grid-template-columns: 33% 66%; */
  text-align: center;
  font-size: 2vh;
}

.button-to-add-wechat {
  will-change: filter;
  transition: filter 300ms;
}
.button-to-add-wechat:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.wechatCode {
  height: 90vw;
}
